{% extends 'base.html.twig' %}

{% block title %}Ma liste{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="d-flex justify-content-center">Ma liste de course</h1>
        <br/>
        {{ form_start(formItem) }} {# <form ...> #}
        <div class="row g-2 d-flex justify-content-center">
            <div class="col-auto">
                {{ form_widget(formItem.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        {{ form_end(formItem) }} {# </form> #}

        <br/>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for item in list %}
                {% if item.isChecked == 1 %}
                    <tr class="table-success">
                        <th scope="row">{{ item.nom }}</th>
                        <td>
                            <a href="{{ path('delete_item', {id : item.id })}}">
                                <button class="btn btn-danger del"><i class="fa fa-trash"></i></button>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <th scope="row">{{ item.nom }}</th>
                        <td>
                            <a href="{{ path('check_item', {id : item.id })}}">
                                <button class="btn btn-primary"><i class="fa fa-check"></i></button>
                            </a>
                            <a href="{{ path('delete_item', {id : item.id })}}">
                                <button class="btn btn-danger del"><i class="fa fa-trash"></i></button>
                            </a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}
